---
name: CI Tests
permissions: {}

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  tests:
    permissions:
      contents: write  # write is required for release_setup
    runs-on: ${{ matrix.runner }}
    env:
      DEFAULT_PYTHON_VERSION: '3.12'
    strategy:
      fail-fast: false
      matrix:
        runner:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: latest

      - name: Install Python Dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade \
            -r requirements.txt \
            -r requirements-dev.txt

      - name: Install Node Dependencies
        shell: bash
        run: npm install --ignore-scripts

      - name: Backup CA
        if: runner.os == 'macOS'
        shell: bash
        run: |
          # `brew test-bot --only-cleanup-before` removes the CA bundle, so make a backup
          cp \
            "/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/certifi/cacert.pem" \
            "cacert.pem"
          echo "REQUESTS_CA_BUNDLE=cacert.pem" >> "${GITHUB_ENV}"

      - name: Test with pytest
        id: pytest
        env:
          INPUT_GITHUB_TOKEN: ${{ github.actor == 'dependabot[bot]' && secrets.GH_BOT_TOKEN || secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          echo "::group::Setup Homebrew PATH"
          if [[ "${{ runner.os }}" == "Linux" ]]; then
            # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md#homebrew-note
            echo "Adding Homebrew to PATH"
            eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          fi
          echo "::endgroup::"

          echo "::group::Run Python Tests"
          python -m pytest \
            -rxXs \
            --tb=native \
            --verbose \
            --color=yes \
            --cov=actions \
            --cov-report=term \
            --cov-report=xml:coverage/python-coverage.xml \
            --cov-report=json:coverage/python-coverage.json \
            --junitxml=junit-python.xml \
            -o junit_family=legacy \
            tests
          echo "::endgroup::"

      - name: Test with Jest
        id: jest
        if: >-
          always() &&
          (steps.pytest.outcome == 'success' || steps.pytest.outcome == 'failure')
        env:
          FORCE_COLOR: true
        shell: bash
        run: npm test

      - name: Upload coverage
        # any except canceled or skipped
        if: >-
          always() &&
          (
            steps.pytest.outcome == 'success' ||
            steps.pytest.outcome == 'failure' ||
            steps.jest.outcome == 'success' ||
            steps.jest.outcome == 'failure'
          ) &&
          startsWith(github.repository, 'LizardByte/')
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        with:
          fail_ci_if_error: true
          files: ./coverage/python-coverage.xml,./coverage/coverage-final.json
          flags: ${{ runner.os }}
          report_type: coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Upload test results
        # any except canceled or skipped
        if: >-
          always() &&
          (
            steps.pytest.outcome == 'success' ||
            steps.pytest.outcome == 'failure' ||
            steps.jest.outcome == 'success' ||
            steps.jest.outcome == 'failure'
          ) &&
          startsWith(github.repository, 'LizardByte/')
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        with:
          fail_ci_if_error: true
          files: ./junit-python.xml,./junit.xml
          flags: ${{ runner.os }}
          report_type: test_results
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
